
#without the subdirectory 'WebProgramming2', remove this path
#for use of 000webhost:

#ErrorDocument 400 /errorPage.php
#ErrorDocument 403 /errorPage.php
#ErrorDocument 404 /errorPage.php
#ErrorDocument 405 /errorPage.php
#ErrorDocument 408 /errorPage.php
#ErrorDocument 500 /errorPage.php
#ErrorDocument 502 /errorPage.php
#ErrorDocument 504 /errorPage.php


ErrorDocument 400 /WebProgramming2/errorPage.php
ErrorDocument 403 /WebProgramming2/errorPage.php
ErrorDocument 404 /WebProgramming2/errorPage.php
ErrorDocument 405 /WebProgramming2/errorPage.php
ErrorDocument 408 /WebProgramming2/errorPage.php
ErrorDocument 500 /WebProgramming2/errorPage.php
ErrorDocument 502 /WebProgramming2/errorPage.php
ErrorDocument 504 /WebProgramming2/errorPage.php